h1{
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(62, 117, 190);
    text-align: center;
    color: white;
    font-size: 4em;
    padding: 0.75em;
}

h2{
    font-family: 'Montserrat', sans-serif;
    color: white;
    background-color: rgba(199, 23, 23, 0.767);
    font-size: 1.25em;
}
body{
    font-family: 'Roboto', sans-serif;
}
#cisla{

}
#stred{
    width: 650px;
    padding: 3px;
}
#rasa{
    background-color: rgba(228, 82, 82, 0.247);
}
#nabozenstvi{
    background-color: rgba(228, 82, 82, 0.247);
    
}
#strana{
    width: 350px;
    float: right;
}
#blok{
    width: 1050px;
    margin: auto;
}
#leva-obrazky{
    width: 325px;
    float: left;
}
#prava-obrazky{
    width: 325px;
    float: right;
}